<!DOCTYPE html>
<html lang="en">
<head lang="en">
    <meta charset="UTF-8">
    <title>Shop</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui, height=device-height">
    <!-- build:template
  <link rel="stylesheet" href="<%= mainCssUrl %>">
  /build-->
</head>
<body ng-cloak>
<div ui-view="" class="menu-header-docker">
</div>
<!-- build:template
<script src="vendor/requirejs/require.js"></script>
<script>
  require.config({
    waitSeconds: 0,
    baseUrl: '<%= requireJsBaseUrl %>'
  });
  require(['require'], function (require) {
    require(['<%= mainJsUrl %>']);
  });
</script>
/build-->
</body>
</html>