<md-content class="md-padding">
    <md-nav-bar md-selected-nav-item="_currentTab.name" nav-bar-aria-label="navigation links">
        <md-nav-item ng-repeat="tab in navBarTabs" md-nav-click="onTabSelect(tab.name)" name="{{tab.name}}">
            {{tab.verboseName}}
        </md-nav-item>
        <span flex=""></span>
        <span ng-if="loggedInUser">
            <span>{{loggedInUser.first_name}}</span>
            <span>{{loggedInUser.last_name}}</span>
        </span>
        <md-button ng-click="openSignInModal()">Sign in</md-button>
    </md-nav-bar>
    <ui-view>
    </ui-view>
</md-content>